.degrade {
    background: rgb(131,29,28);
    background: linear-gradient(90deg, rgba(131,29,28,1) 2%, rgba(0,97,60,1) 96%);
    color: #ffffff;
    padding: 1px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8px;
    font-style: normal;
    text-align: center;
}